body{
    background-color:whitesmoke;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
    width:100%;
    background-color:rgb(63, 59, 59);
    color: white;
}
.btn{
    background-color: rgb(27, 139, 214);
    float: right;
}
input{
    width: 150px;
}
.container-fluid{
    margin-left: 10px;
}
#display{
    width: 100%;
    margin-top: 10px;
    border-color: rgb(202, 195, 195);
    border-style: none;
    border-width: thin;
    height: 250px;
}
.card{
    height: 200px;
    width: 150px;
    margin-left: 10px;
    background-color: royalblue;
    color: white;
    padding: 5px;
}
#btn-city{
    background-color: white;
    width: 100%;
    margin-left: 10px;
}
ul{
    margin-left: 0px;
    width: 80%;
    margin-top: 20px;
    padding-inline-start: 0px;
}